all.clsMenuItemNS {
	FONT: 9pt 宋体; COLOR: white; TEXT-DECORATION: none
}
.clsMenuItemIE {
	FONT: 9pt 宋体; CURSOR: hand; COLOR: white; TEXT-DECORATION: none
}
.c {
	FONT-SIZE: 9pt; LINE-HEIGHT: 12pt; FONT-FAMILY: "宋体"
}
.font {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 112%
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt;
	COLOR: 383838;
	TEXT-DECORATION: none;
	font-weight: normal;



}
A:visited {
	FONT-SIZE: 9pt;
	COLOR: 383838;
	TEXT-DECORATION: none;
	font-weight: normal;



}
A:hover {
	FONT-SIZE: 9pt;
	COLOR: #2F6582;
	TEXT-DECORATION: underline;
	font-weight: normal;




}
.font1 {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 163%; TEXT-DECORATION: none
}
A.c1:link {
	FONT-SIZE: 14px;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-weight: bold;
	filter: dropshadow(color=#BC4C15,offx=1,offy=1);



}
A.c1:visited {
	FONT-SIZE: 14px;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-weight: bold;
	filter: dropshadow(color=#BC4C15,offx=1,offy=1);



}
A.c1:hover {
	FONT-SIZE: 14px;
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;
	font-weight: bold;
	filter: dropshadow(color=#BC4C15,offx=1,offy=1);




}
.bbs {
	FONT-SIZE: 11pt; COLOR: #000000; LINE-HEIGHT: 121%
}
.bbs1 {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 121%
}
.ff {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
td {
	font-size: 9pt;
	line-height: 120%;
	color: 383838;



}
th {
	font-size: 10pt;
}
a:active {
	font-size: 9pt;
	color: #003366;
	text-decoration: none;
}





.td1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.p1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.input1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.select1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.dl1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.li1 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f12 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f14 {
	FONT-FAMILY: 宋体; FONT-SIZE: 10pt
}
.f16 {
	FONT-FAMILY: 宋体; FONT-SIZE: 16px
}
.f22 {
	FONT-FAMILY: 宋体; FONT-SIZE: 22px
}
.f16a {
	FONT-SIZE: 16px
}
.f12h13 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.f12h14 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 140%
}
.f12h15 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
.f16h11 {
	FONT-FAMILY: 宋体; FONT-SIZE: 16px; LINE-HEIGHT: 110%
}
.f16h12 {
	FONT-FAMILY: 宋体; FONT-SIZE: 16px; LINE-HEIGHT: 120%
}
.f12cw {
	COLOR: #ffffff; FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f12cb {
	COLOR: #0000ff; FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f12c1 {
	COLOR: #339933; FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f12c2 {
	COLOR: #cbeaf9; FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.f14c1 {
	COLOR: #615f5f; FONT-FAMILY: 宋体; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.f14c2 {
	COLOR: #95381a; FONT-FAMILY: 宋体; FONT-SIZE: 10pt
}
.f16c1 {
	COLOR: #615f5f; FONT-FAMILY: 宋体; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.cbgc0 {
	BACKGROUND-COLOR: #94b5f2
}
.cbgc1 {
	BACKGROUND-COLOR: #cbeaf9
}
.cbgc2 {
	BACKGROUND-COLOR: #ffff80
}
.bgc0 {
	BACKGROUND-COLOR: #ffcc66
}
.bgcr {
	BACKGROUND-COLOR: #ff0000
}
.bgcb {
	BACKGROUND-COLOR: #0000ff
}
.bgck {
	BACKGROUND-COLOR: #eeeeee
}
.bgcw {
	BACKGROUND-COLOR: #ffffff
}
.bgcbk {
	BACKGROUND-COLOR: #000000
}
.bg1 {
	BACKGROUND-REPEAT: no-repeat
}
A.aw:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.aw:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.aw:active {
	TEXT-DECORATION: underline
}
A.aw:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ab:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.ab:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.ab:active {
	TEXT-DECORATION: none
}
A.ab:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.abf16ul:link {
	COLOR: #0000ff; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.abf16ul:visited {
	COLOR: #0000ff; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.abf16ul:active {
	FONT-SIZE: 16px; TEXT-DECORATION: none
}
A.abf16ul:hover {
	COLOR: #ff0000; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.abk:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.abk:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.abk:active {
	TEXT-DECORATION: none
}
A.abk:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.abkul:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.abkul:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.abkul:active {
	TEXT-DECORATION: none
}
A.abkul:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.abk1:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.abk1:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.abk1:active {
	TEXT-DECORATION: none
}
A.abk1:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.abk2:link {
	COLOR: #cc0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.abk2:visited {
	COLOR: #cc0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.abk2:active {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.abk2:hover {
	COLOR: #cc0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.abk1f16:link {
	COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.abk1f16:visited {
	COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.abk1f16:active {
	FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.abk1f16:hover {
	COLOR: #ff0000; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.ar:link {
	COLOR: #3366cc; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.ar:visited {
	COLOR: #3366cc; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.ar:active {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.ar:hover {
	COLOR: #3366cc; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.arf16ul:link {
	COLOR: #ff0000; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.arf16ul:visited {
	COLOR: #ff0000; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.arf16ul:active {
	FONT-SIZE: 16px; TEXT-DECORATION: none
}
A.arf16ul:hover {
	COLOR: #0000ff; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
A.ac1:link {
	COLOR: #339933; TEXT-DECORATION: underline
}
A.ac1:visited {
	COLOR: #339933; TEXT-DECORATION: underline
}
A.ac1:active {
	TEXT-DECORATION: none
}
A.ac1:hover {
	COLOR: #339933; TEXT-DECORATION: underline
}
A.ac1f16:link {
	COLOR: #339933; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.ac1f16:visited {
	COLOR: #339933; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.ac1f16:active {
	FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.ac1f16:hover {
	COLOR: #339933; FONT-SIZE: 16px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A.ac2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ac2:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.ac2:active {
	TEXT-DECORATION: none
}
A.ac2:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ac3:link {
	COLOR: #109100; TEXT-DECORATION: underline
}
A.ac3:visited {
	COLOR: #109100; TEXT-DECORATION: underline
}
A.ac3:active {
	TEXT-DECORATION: none
}
A.ac3:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ac4:link {
	COLOR: #000798; TEXT-DECORATION: underline
}
A.ac4:visited {
	COLOR: #000798; TEXT-DECORATION: underline
}
A.ac4:active {
	TEXT-DECORATION: none
}
A.ac4:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ac5:link {
	COLOR: #a3002a; TEXT-DECORATION: underline
}
A.ac5:visited {
	COLOR: #a3002a; TEXT-DECORATION: underline
}
A.ac5:active {
	TEXT-DECORATION: none
}
A.ac5:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ac6:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.ac6:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.ac6:active {
	TEXT-DECORATION: none
}
A.ac6:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.ac7:link {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.ac7:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.ac7:active {
	TEXT-DECORATION: none
}
A.ac7:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.title{
	COLOR: #3D71C0; FONT-FAMILY: 宋体; FONT-SIZE: 18px; FONT-WEIGHT: BOLD; TEXT-ALIGN: CENTER
}
.list_head{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #3D71C0; FONT-FAMILY: 宋体; FONT-SIZE: 13px; FONT-WEIGHT: BOLD; TEXT-ALIGN: CENTER
}
.list{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #3D71C0; FONT-FAMILY: 宋体; FONT-SIZE: 13px;  TEXT-ALIGN: CENTER
}
.record_head{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #3D71C0; FONT-FAMILY: 宋体; FONT-SIZE: 10pt; FONT-WEIGHT: BOLD; TEXT-ALIGN: CENTER
}
.record{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px; TEXT-ALIGN: LEFT
}
.tail{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #2fa98b; FONT-FAMILY: 宋体; FONT-SIZE: 10pt; FONT-WEIGHT: BOLD; TEXT-ALIGN: LEFT
}
.nav_head{
	BACKGROUND-COLOR: #554DBB; COLOR: #ffffff; FONT-FAMILY: 宋体; FONT-SIZE: 16px; FONT-WEIGHT: BOLD; TEXT-ALIGN: CENTER; VERTICAL-ALIGN: MIDDLE
}
.nav{
	BACKGROUND-COLOR: #FBFBE0; COLOR: #2fa98b; FONT-FAMILY: 宋体; FONT-SIZE: 10pt; FONT-WEIGHT: BOLD; TEXT-ALIGN: CENTER; VERTICAL-ALIGN: MIDDLE
}
A.na:link {
	COLOR: #3D71C0; TEXT-DECORATION: none; FONT-SIZE: 13px
}
A.na:visited {
	COLOR: #3D71C0; TEXT-DECORATION: none; FONT-SIZE: 13px
}
A.na:active {
	COLOR: #3D71C0; TEXT-DECORATION: none; FONT-SIZE: 13px
}
A.na:hover {
	COLOR: #3D71C0; TEXT-DECORATION: none; FONT-SIZE: 13px
}
.table_border{
        BORDER: 0.12CM #FBFBE0 double
}
.table_border2{
        BORDER: 0.15CM #FBFBE0 solid
}
.table_border3{
        BORDER: 0.05CM #FBFBE0 solid
}
.bot{
	COLOR: #3D71C0; FONT-FAMILY: 宋体; FONT-SIZE: 12px; TEXT-ALIGN: CENTER
}
.hrr{
	COLOR: #FBFBE0; SIZE: 6
}
.zt {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 2px;

}
A.c2:link {
	font-size: 10pt;
	font-weight: bold;
	color: #4b5e00;
	text-decoration: underline;
	letter-spacing: 1px;

}
A.c2:visited {
	font-size: 10pt;
	font-weight: bold;
	color: #4b5e00;
	text-decoration: underline;
	letter-spacing: 1px;

}
A.c2:hover {
	font-size: 10pt;
	font-weight: bold;
	color: #cc0000;
	text-decoration: none;
	letter-spacing: 1px;

}
select {
	background-color: #f7f7f7;
	border: 1px;

}
.sinput {border-left:1 ridge #ffffff;border-top:1 ridge #ffffff;border-bottom:1;border-right:1;border-style:ridge;background-color:#fdf5ee}
A.c1:active {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	filter: dropshadow(color=#91703B,offx=1,offy=1);
}
.right {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
