<style type="text/css">
.junkfont    { font-size: 10pt; text-decoration: none; color: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.highlight   { font-size: 9pt; text-decoration: none; color: #FFFFFF; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; background-color: #333388;}
.errMessage  { font-size: 9pt; text-decoration: none; text-align:center;color: red; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.pre {
 font-size: 10pt; text-decoration: none; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 word-break:break-all;
}

#fixedtipdiv{
  position:absolute;
  padding: 2px;
  border:1px solid black;
  font:normal 9pt Arial;
  line-height:16px;
  z-index:1000;
}

legend {
	padding: 2px 2px;
	border-color: #999 #ccc #ccc #999;
	border-style: solid;
	border-width: 1px;
	background: #EEFFEE;
}
fieldset {
        border: 1px solid #CCCCCC;
	padding: 4px;
}

.cfMVHidden {
	position: absolute;
	color: #333;
	background-color: #fff;
	border: 1px solid #CCCCCC;
	visibility: hidden;
	font-family: Arial;
	overflow: hidden;
}

.cfMVHiddenWScroll {
	position: absolute;
	color: #333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	visibility: hidden;
	font-family: Arial,Helvetica,sans-serif;
	overflow: visible;
}

.cfMVHiddenScroll {
	position: absolute;
	color: #333;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	visibility: hidden;
	font-family: Arial,Helvetica,sans-serif;
	overflow: auto;
}

.blockHead   { font-size: 11pt; text-decoration: none; color: #000000; font-weight: bold; FONT-FAMILY: Arial,Helvetica,sans-serif; }
.sectionHead { font-size: 10pt; text-decoration: none; color: #000000; font-weight: bold; FONT-FAMILY: Arial,Helvetica,sans-serif; }
.tblWBorder    { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #888888; border-left-width: 1px; border-left-style: solid; border-left-color: #888888; border-right-width: 1px; border-right-style: solid; border-right-color: #888888; border-top-width: 1px; border-top-style: solid; border-top-color: #888888;}
.tblWBorderUD  { FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #888888; border-top-width: 1px; border-top-style: solid; border-top-color: #888888; border-left-width: 1px; border-left-style: solid; border-left-color: #CCCCCC; border-right-width: 1px; border-right-style: solid; border-right-color: #CCCCCC;}
.tblWBorderLR  { FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt; border-left-width: 1px; border-left-style: solid; border-left-color: #888888; border-right-width: 1px; border-right-style: solid; border-right-color: #888888; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EEEEEE; border-top-width: 1px; border-top-style: solid; border-top-color: #EEEEEE; }


.tabfont    { font-size: 10pt; text-decoration: none; color: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.tabselfont { font-size: 10pt; text-decoration: none; color: #99ccff; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.subtabfont {    font-size: 10pt; text-decoration: none; color: #EEEEEE; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.subtabselfont { font-size: 10pt; text-decoration: none; color: #ffffff; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.tabfont1    { font-size: 10pt; text-decoration: none; color: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.tabselfont1 { font-size: 10pt; text-decoration: none; color: #0B518C; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.subtabfont1 {    font-size: 10pt; text-decoration: none; color: #EEEEEE; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.subtabselfont1 { font-size: 10pt; text-decoration: none; color: #0B518C; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.binHeaderCell { font-size: 11pt; text-decoration: none; color: #003366; font-weight: bold}
.binContentCell { font-size: 10pt; text-decoration: none; color: #003366}

.bbsHeaderCell { font-size: 11pt; text-decoration: none; color: #003366; font-weight: bold; background-color: #F7F7E7}
.bbsOddCell    { font-size: 11pt; text-decoration: none; color: #003366; background-color: #FFFFF7}
.bbsEvenCell   { font-size: 11pt; text-decoration: none; color: #003366; background-color: #F7F7F7}

.verySmallWhite { font-size: 8pt; text-decoration: none; color: #FFFFFF; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.verySmallBlue { font-size: 8pt; color: #0000FF; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallBlueBold { font-size: 8pt; font-weight: bold; text-decoration: none; color: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallRed { font-size: 8pt; color: #FF0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallGrey { font-size: 8pt; color: #AAAAAA; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallGreyNL { font-size: 8pt; color: #AAAAAA; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; text-decoration: none; }
.verySmallInactive { font-size: 8pt; color: #888888; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallBlue2 { font-size: 8pt; color: #8888FF}
.normalSmallBoldLink { font-size: 9pt; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalRed { font-size: 11pt; text-decoration: none; color: #FF2222}
.normalRedBold { font-size: 11pt; text-decoration: none; color: #FF2222; font-weight: bold}
.normalBold2 { font-size: 11pt; color: #000000; font-weight: bold; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalBold3 { font-size: 10pt; text-decoration: none; color: #000000; font-weight: bold; }

.normalFont { font-size: 11pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalFont10 { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalGreen10 { font-size: 10pt; text-decoration: none; color: #335533; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalGreen9 { font-size: 9pt; text-decoration: none; color: #335533; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalGrey { font-size: 11pt; text-decoration: none; color: #555555; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalBlue { font-size: 11pt; text-decoration: none; color: #3333FF; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.normalSmall     { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallPad2     { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; padding: 2px 2px 2px 2px; }
.normalSmallPad4     { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; padding: 4px 4px 4px 4px; }
.normalSmallBoldGrey { font-size: 9pt; font-weight: bold; text-decoration: none; color: #888888; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallBoldDarkGrey { font-size: 9pt; font-weight: bold; text-decoration: none; color: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallBold { font-size: 9pt; font-weight: bold; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallGrey { font-size: 9pt; text-decoration: none; color: #888888; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallLink { font-size: 9pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.quoteNormalSmall { font-size: 9pt; text-decoration: none; color: #005595; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; padding: 0px 4px 0px 4px; }

.normalSmaller { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallHeight14   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; text-decoration: none; line-height: 14pt;}
.normalSmallHeight13   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; text-decoration: none; line-height: 13pt;}
.quiteSmall    { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmall     { font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallLink     { font-size: 8pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmall6     { font-size: 6pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmall7     { font-size: 7pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.verySmallNotBold     { font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-WEIGHT: normal; }



.normalBold { font-size: 10pt; text-decoration: none; color: #000000; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallWhite { font-size: 10pt; text-decoration: none; color: #FFFFFF; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallWhiteBold { font-size: 10pt; text-decoration: none; color: #FFFFFF; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.quiteSmallWhiteBold { font-size: 9pt; text-decoration: none; color: #FFFFFF; font-weight: bold; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.genTblHeaderCell { BACKGROUND-COLOR: #dddddd; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  }
.genTblHeaderCell2 { BACKGROUND-COLOR: #dddddd; text-decoration: none; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99; padding: 0px 1px 0px 4px; }
.reportTblHeaderCell  { BACKGROUND-COLOR: #EEEEEE; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E8E8E8; border-left-width: 1px; border-left-style: solid; border-left-color: #E8E8E8; border-right-width: 1px; border-right-style: solid; border-right-color: #E8E8E8; border-top-width: 1px; border-top-style: solid; border-top-color: #E8E8E8;  }
.reportTblContentCell { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E8E8E8; border-left-width: 1px; border-left-style: solid; border-left-color: #E8E8E8; border-right-width: 1px; border-right-style: solid; border-right-color: #E8E8E8; border-top-width: 1px; border-top-style: solid; border-top-color: #E8E8E8;}
.oppProcessBarStrong { BACKGROUND-COLOR: #FF8888; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  }
.genTblHeaderCellSmall { BACKGROUND-COLOR: #e0e0e0; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  }
.genTblContentCell    { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellTB  { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #666666; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #666666;}
.genTblContentCellW   { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 1px; border-left-style: solid; border-left-color: #cccccc; border-right-width: 1px; border-right-style: solid; border-right-color: #cccccc; border-top-width: 1px; border-top-style: solid; border-top-color: #cccccc;}
.genTblContentCellH12   { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  line-height: 12pt;}
.genTblContentCellH13   { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  line-height: 13pt;}
.genTblContentCellTop { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: top; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellMid { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellGantt { BACKGROUND-COLOR: #FFFFFF; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 1px; border-left-style: solid; border-left-color: #cccccc; border-right-width: 1px; border-right-style: solid; border-right-color: #cccccc; border-top-width: 1px; border-top-style: solid; border-top-color: #cccccc;}
.genTblContentCellGanttTask { BACKGROUND-COLOR: #99DD99; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 1px; border-left-style: solid; border-left-color: #cccccc; border-right-width: 1px; border-right-style: solid; border-right-color: #cccccc; border-top-width: 1px; border-top-style: solid; border-top-color: #cccccc;}
.genTblContentCellGanttTaskLine { BACKGROUND-COLOR: #CCFFCC; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 7pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; border-left-width: 1px; border-left-style: solid; border-left-color: #cccccc; border-right-width: 1px; border-right-style: solid; border-right-color: #cccccc; border-top-width: 1px; border-top-style: solid; border-top-color: #cccccc;}
.genTblHeaderCellNB {  COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;  }
.genTblContentCellNB { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellGrey { COLOR: #A0A0A0; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellPrj { BACKGROUND-COLOR: #66dd99; COLOR: #888888; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCellTL  { BACKGROUND-COLOR: #99FFCC; COLOR: #888888; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.genTblContentCell2L { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; padding: 2px 4px 2px 4px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99;    border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99; }
.genTblContentCell2R { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; padding: 2px 4px 2px 4px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99; }
.genTblContentCell2E { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; padding: 2px 4px 2px 4px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99;}
.calAvlbCellNormal { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #99cc99; border-left-width: 1px; border-left-style: solid; border-left-color: #99cc99; border-right-width: 1px; border-right-style: solid; border-right-color: #99cc99; border-top-width: 1px; border-top-style: solid; border-top-color: #99cc99;}
.calAvlbCellStart { COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #FF3333; border-left-width: 1px; border-left-style: solid; border-left-color: #FF3333; border-right-width: 1px; border-right-style: solid; border-right-color: #FF3333; border-top-width: 1px; border-top-style: solid; border-top-color: #FF3333;}

.offNormalSmallActiveTab { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.offNormalSmallSolid    {  font-size: 10pt; text-decoration: none; color: #000000; }
.offNormalSmallSolid_old    { border: 1px solid; font-size: 10pt; text-decoration: none; color: #000000; }
.offNormalSmallNoBorder { border: 0px solid; font-size: 10pt; text-decoration: none; color: #000000;  font-weight: bold}
.offNormalSmallBinTitle { background-color: #ffffcc; font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}


.offTabHeaderInActive { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#e6e6c2; vertical-align: center; text-align: center; }
.offTabHeaderInActive_old1 { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#F3F3E3; vertical-align: center; text-align: center; }
.offTabHeaderInActive_old { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#dddddd; vertical-align: center; text-align: center; }
.offTabHeaderActive   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#ffffcc; }
.offTabHeaderActive_old   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#aaaaaa; }
.offTabSubRegion      { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 1px outset; BORDER-RIGHT: #888888 1px outset; vertical-align: center; text-align: center; }

.m_offTabHeaderInActive { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#e6e6c2; vertical-align: center; text-align: center; }
.m_offTabHeaderActive   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#ffffcc; }
.m_offNormalSmallActiveTab { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.m_offNormalSmallInactiveTab { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.m_offTblHeaderCellSort { font-style: italic; BACKGROUND-COLOR: #ffffcc; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: outset; border-left-color: #cccc99; border-right-width: 1px; border-right-style: outset; border-right-color: #cccc99; border-top-width: 1px; border-top-style: outset; border-top-color: #cccc99; }
.m_offTblHeaderCellNoSort { BACKGROUND-COLOR: #ffffcc; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: outset; border-left-color: #cccc99; border-right-width: 1px; border-right-style: outset; border-right-color: #cccc99; border-top-width: 1px; border-top-style: outset; border-top-color: #cccc99; }
.m_offTblDataCell { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.m_subTabEncBorder { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #e6e6c2 1px solid; BORDER-LEFT: #e6e6c2 1px solid; BORDER-BOTTOM: #e6e6c2 1px solid; BORDER-RIGHT: #e6e6c2 1px solid; }
.m_quickCreateHeader { BACKGROUND-COLOR: #ffffcc; }
.m_quickCreateContent { BACKGROUND-COLOR: #F8F8F8; }

.c_offTabHeaderInActive { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #dddddd 1px solid; background-color:#dddddd; vertical-align: center; text-align: center; }
.c_offTabHeaderActive   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#aaaaaa; }
.c_offNormalSmallActiveTab { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.c_offNormalSmallInactiveTab { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.c_offTblHeaderCellSort { font-style: italic; BACKGROUND-COLOR: #dddddd; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.c_offTblHeaderCellNoSort { BACKGROUND-COLOR: #dddddd; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.c_offTblDataCell { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.c_subTabEncBorder { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; }
.c_quickCreateHeader { BACKGROUND-COLOR: #dddddd; }
.c_quickCreateContent { BACKGROUND-COLOR: #F8F8F8; }
.c_PortalCellWhite { font-size: 9pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; background-color:#ffffff; }
.c_PortalCellNW    { font-size: 9pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; background-color:#aaaaaa; }
.c_PortalCellRed   { font-size: 9pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; background-color:#F9EAEA; }

.f_offTabHeaderInActive { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#BBFFBB; vertical-align: center; text-align: center; }
.f_offTabHeaderActive   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#77FF77; }
.f_offNormalSmallActiveTab { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.f_offNormalSmallInactiveTab { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.f_offTblHeaderCellSort { font-style: italic; BACKGROUND-COLOR: #BBFFBB; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.f_offTblHeaderCellNoSort { BACKGROUND-COLOR: #BBFFBB; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.f_offTblDataCell { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #BBFFBB; border-left-width: 1px; border-left-style: solid; border-left-color: #BBFFBB; border-right-width: 1px; border-right-style: solid; border-right-color: #BBFFBB; border-top-width: 1px; border-top-style: solid; border-top-color: #BBFFBB;}
.f_subTabEncBorder { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #BBFFBB 1px solid; BORDER-LEFT: #BBFFBB 1px solid; BORDER-BOTTOM: #BBFFBB 1px solid; BORDER-RIGHT: #BBFFBB 1px solid; }
.f_quickCreateHeader { BACKGROUND-COLOR: #BBFFBB; }
.f_quickCreateContent { BACKGROUND-COLOR: #F8F8F8; }

.o_offTabHeaderInActive { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 1px solid; background-color:#cccc99; vertical-align: center; text-align: center; }
.o_offTabHeaderActive   { font-size: 10pt; text-decoration: none; color: #000000; BORDER-RIGHT: #aaaaaa 2px outset; vertical-align: center; text-align: center; background-color:#dddddd; }
.o_offNormalSmallActiveTab { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.o_offNormalSmallInactiveTab { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.o_offTblHeaderCellSort { font-style: italic; BACKGROUND-COLOR: #cccc99; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.o_offTblHeaderCellNoSort { BACKGROUND-COLOR: #cccc99; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }
.o_offTblDataCell { BACKGROUND-COLOR: #f7f7e7; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: solid; border-left-color: #cccc99; border-right-width: 1px; border-right-style: solid; border-right-color: #cccc99; border-top-width: 1px; border-top-style: solid; border-top-color: #cccc99;}
.o_subTabEncBorder { font-size: 10pt; text-decoration: none; color: #000000; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid; BORDER-RIGHT: #cccc99 1px solid; }
.o_quickCreateHeader { BACKGROUND-COLOR: #cccc99; }
.o_quickCreateContent { BACKGROUND-COLOR: #f7f7e7; }

.infoMessage { background-color: #CCCC99; font-size: 9pt; text-decoration: none; color: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.ahsPageHeaderCell { font-size: 13pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}
.ahsPageHeaderCell2 { font-size: 10pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; font-weight: bold}


.ahsTblHeaderCell { font-size: 11pt; color: #000000; background-color: #F7F7E7; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}
.ahsTblContentCell { font-size: 10pt; color: #000000; background-color: #FFFFF3; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}


.offVerySmallSolid     {  font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.offVerySmallNoBorder  { border: 0px solid; font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;  font-weight: bold; background-color: #f7f7e7}
.offVerySmallSearch    { font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; text-align: center; }

.normalSmallBlue  { font-size: 9pt; text-decoration: none; color: #3333CC; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallGreen { font-size: 10pt; text-decoration: none; color: #00CC00; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.normalSmallRed { font-size: 9pt; text-decoration: none; color: #BB0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.calMonthPortDay { font-size: 10pt; text-decoration: none; color: #336622; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDailyTblEven { font-size: 10pt; text-decoration: none; color: #000000; background-color: #f7f7e7; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDailyTblOdd { font-size: 10pt; text-decoration: none; color: #000000; background-color: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDailyTblEvt { font-size: 10pt; text-decoration: none; color: #000000; background-color: #DDDDDD; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDayFmtBlue  { font-size: 7pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDayFmtGreen { font-size: 7pt; text-decoration: none; color: #319C65; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.offHint { font-size: 7pt; text-decoration: none; color: #319C65; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.ozHint { font-size: 8pt; text-decoration: none; color: #319C65; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.calDayFmtBlue_old { font-size: 9pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }
.calDailyTblText { font-size: 10pt; text-decoration: none; color: #888888; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; }

.formObjReadOnly{ BACKGROUND-COLOR: #dddddd }
.formObjReadOnlySmall{ font-size: 8pt; BACKGROUND-COLOR: #dddddd }

.ahsTreeViewRow16 { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.ahsTreeViewRow20 { font-size: 10pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; line-height: 20pt;}

.ahsTblSortableHeader {
	BACKGROUND-COLOR: #dddddd; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom
}

.offTblHeaderCell { BACKGROUND-COLOR: #ffffcc; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #cccc99; border-left-width: 1px; border-left-style: outset; border-left-color: #cccc99; border-right-width: 1px; border-right-style: outset; border-right-color: #cccc99; border-top-width: 1px; border-top-style: outset; border-top-color: #cccc99; }
.offTblHeaderCell_old { BACKGROUND-COLOR: #DDDDDD; COLOR: #336699; CURSOR: hand; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: rgb(252,252,236); border-left-width: 1px; border-left-style: outset; border-left-color: rgb(252,252,236); border-right-width: 1px; border-right-style: outset; border-right-color: rgb(252,252,236); border-top-width: 1px; border-top-style: outset; border-top-color: rgb(252,252,236); }

.ahsTblSortableHeaderLink {
	BACKGROUND-COLOR: #ffffcc; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; VERTICAL-ALIGN: bottom
}
.ahsTblCellText {
	BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline
}

.offTblFirstLastColCellText { BACKGROUND-COLOR: #F7F7E7; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid; }
.offTblFirstLastColCellText_old { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid; }
.offTblCellText { BACKGROUND-COLOR: #F7F7E7; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204,204,153); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204,204,153); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204,204,153); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204,204,153); }
.offTblCellText_old { BACKGROUND-COLOR: #F8F8F8; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 8pt; VERTICAL-ALIGN: baseline; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204,204,153); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204,204,153); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204,204,153); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204,204,153); }

.requiredAsterisk { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FF3333 }
.errorMessage { background-color: #CCCC99; font-weight: bold; font-family: Arial,Helvetica, sans-serif; font-size: 10pt; color: #CC0000 }
.debugMessage { background-color: #CCCCCC; font-family: Arial,Helvetica, sans-serif; font-size: 8pt; color: #888888 }
.updateMessage { background-color: #CCCC99; font-size: 10pt; font-weight: bold; color: #3366CC; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;}

SPAN.offLink A:link { text-decoration: underline; color:#663300 }
SPAN.offLink A:visited { text-decoration: underline; color:#996633 }
SPAN.offLink A:hover { text-decoration: underline; color:#ff6600 }


.ahsPortletTitle { font-size: 9pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #E4F0E7; font-weight: bold;}
.ahsPortletHdrEdit { font-size: 8pt; text-decoration: none; color: #31659C; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #E4F0E7;}

.pageHeading  { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold }
.pageHeadingItalic  { font-style: italic; font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #339966; font-weight: bold }
.pageTitle    { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #339966; font-weight: bold }
.pageSubTitle { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #339966; font-weight: bold }
.pageTitleL3 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #339966; font-weight: bold }

.formPrompt   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: right; line-height: 17pt; white-space: nowrap; }
.formInput17  { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: left;  line-height: 27pt; white-space: nowrap; }
.formInput    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: left; }
.formPromptSmall   { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; TEXT-ALIGN: right; line-height: 15pt; white-space: nowrap; }
.formInputSmall    { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; TEXT-ALIGN: left; }
.formPromptTop   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: right; VERTICAL-ALIGN: top; line-height: 16pt;}
.formInputTop    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: left; VERTICAL-ALIGN: top; line-height: 16pt;}
.formPrompt2   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: right; white-space: nowrap; }
.formInput2    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; TEXT-ALIGN: left; }
.formPromptNoColor   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; TEXT-ALIGN: right; line-height: 17pt; white-space: nowrap; }

.barAppSwitch { BACKGROUND-COLOR: #dddddd; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; text-decoration: none; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom; border-bottom-width: 1px; border-bottom-style: outset; border-bottom-color: #FCFCEC; border-left-width: 1px; border-left-style: outset; border-left-color: #FCFCEC; border-right-width: 1px; border-right-style: outset; border-right-color: #FCFCEC; border-top-width: 1px; border-top-style: outset; border-top-color: #FCFCEC; }

.normalButton { font-size: 9pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BORDER-LEFT: #A0AAA0 1px solid; BORDER-TOP: #A0AAA0 1px solid; BORDER-RIGHT: #404440 1px solid; BORDER-BOTTOM: #404440 1px solid; }
.smallButton {  font-size: 8pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BORDER-LEFT: #A0AAA0 1px solid; BORDER-TOP: #A0AAA0 1px solid; BORDER-RIGHT: #404440 1px solid; BORDER-BOTTOM: #404440 1px solid; }
.verySmallButton { font-size: 7pt; color: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BORDER-LEFT: #A0AAA0 1px solid; BORDER-TOP: #A0AAA0 1px solid; BORDER-RIGHT: #404440 1px solid; BORDER-BOTTOM: #404440 1px solid; }
.smallGreyButton { font-size: 8pt; color: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; BORDER-LEFT: #A0AAA0 1px solid; BORDER-TOP: #A0AAA0 1px solid; BORDER-RIGHT: #404440 1px solid; BORDER-BOTTOM: #404440 1px solid; }

INPUT.TEXT {
    font-family : Arial, Helvetica, Geneva, sans-serif;
    border-color : 666666;
    border-style : inset;
    border-width : 1px;
    color : FFFFFF;
}
TEXTAREA {
    font-family : Arial, Helvetica, Geneva, sans-serif;
    border-color : 666666;
    border-style : inset;
    border-width : 1px;
}

.textInput       { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-LEFT: #383A38 1px solid; BORDER-TOP: #282A28 1px solid; BORDER-RIGHT: #B0BBB0 1px solid; BORDER-BOTTOM: #B0BBB0 1px solid; padding: 0px 2px 0px 2px; }
.textInputSmall  { font-size: 8pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-LEFT: #383A38 1px solid; BORDER-TOP: #383A38 1px solid; BORDER-RIGHT: #B0BBB0 1px solid; BORDER-BOTTOM: #B0BBB0 1px solid; padding: 0px 2px 0px 2px; }
.textInputNoBorder { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; border: 0px solid; }
.textInputAC       { background: url('graphics/ac.gif') no-repeat 2px;; background-color:#EEF8EE; font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-LEFT: #383A38 1px solid; BORDER-TOP: #282A28 1px solid; BORDER-RIGHT: #B0BBB0 1px solid; BORDER-BOTTOM: #B0BBB0 1px solid; padding: 0px 2px 0px 2px; }

.selInput { background-color:#FFFFFF; font-size: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; }
.selInput2 { font-size: 9pt; text-decoration: none; color: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-LEFT: #EEF4EE 0px; BORDER-TOP: #EEF4EE 0px; BORDER-RIGHT: #EEF4EE 0px; BORDER-BOTTOM: #EEF4EE 0px; }
.selInputSmall { background-color:#FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif; font-size:11px; }
.textSelectSmall { background-color:#CCDDCC; FONT-FAMILY: Arial, Helvetica, sans-serif; font-size:11px; }

A.GenLink
{
   color: Black;
   text-decoration: none;
   border-width: 1px;
   padding: 0px 2px 0px 2px;
}
A.GenLinkCurrent
{
   background-color: CCCCCC;
   border-color: #808080;
   border-width: 1px;
   font-weight: bold;
   color: #006600;
   padding: 2px 2px 2px 2px;
}
A.GenLink:hover
{
   background-color: White;
   border-color: #808080;
   border-width: 1px;
   color: #006600;
}


A.NavLink
{
   color: Black;
   text-decoration: none;
   border-width: 1px;
   padding: 0px 2px 0px 2px;
}
A.NavLinkCurrent
{
   background-color: White;
   border-color: #808080;
   border-width: 1px;
   color: #006600;
}
A.NavLink:hover
{
   background-color: White;
   border-color: #808080;
   border-width: 1px;
   color: #006600;
}

A.EmlNavLink
{
   color: Black;
   text-decoration: none;
   border-width: 1px;
   padding: 2px 10px 2px 8px;
}
A.EmlNavLinkCurrent
{
   background-color: White;
   border-color: #808080;
   border-width: 1px;
   color: #006600;
}
A.EmlNavLink:hover
{
   background-color: CCCCCC;
   border-width: 1px;
}

A.PortalSRLink
{
   color: Black;
   text-decoration: none;
   border-width: 1px;
   padding: 0px 2px 0px 2px;
}
A.PortalSRLinkCurrent
{
   color: Black;
   text-decoration: none;
   font-weight: bold;
   background-color: #CCD0CC;
   border-color: #CCD0CC;
   border-width: 1px;
}
A.PortalSRLink:hover
{
   color: Black;
   text-decoration: none;
   font-weight: bold;
   background-color: #CCD0CC;
   border-color: #CCD0CC;
   border-width: 1px;
}

.treeFrameWin {
  border-color: #CCDDCC;
  border-style: solid; border-width: 1px;
  margin: 0px; padding: 0px;
  text-align: left; visibility: visible;
}

.treeFrameContent {
  border-color: #EEF4EE;
  border-style: solid; border-width: 1px;
  color: #000000;
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt;
  margin: 0px; overflow: auto; padding: 0px;
}

.whiteFrameWin {
  background-color: #FFFFFF; border-color: #CCDDCC;
  border-style: solid; border-width: 1px;
  margin: 0px; padding: 0px;
  text-align: left; visibility: visible;
}

.whiteFrameContent {
  background-color: #FFFFFF; border-color: #EEF4EE;
  border-style: solid; border-width: 1px;
  color: #000000;
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt;
  margin: 0px; overflow: auto; padding: 4px;
}

#emailsidebar
{
  border-style: solid;
  border-width: 0 0px 0px 0px;
}

#emailsidebar a
{
  display: block;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 8pt;
  color: #000000;
}

#emailsidebar a:focus, #emailsidebar a:hover, #emailsidebar .selected
{
  background-color: #ffffff;
  display: block;
  font-weight: bold;
  padding-bottom: 1px;
  padding-top: 1px;
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 8pt;
  color: #000000;
  border-color: #CCDDCC;
  border-style: solid; border-width: 1px;
}


div.menuBar
div.menuBar a.menuButton,
{
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
}

div.menuBar {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: #e0e0e0;
  border: 1px outset #e0e0e0;
  padding: 3px 2px 3px 2px;
  text-align: left;
}

div.menuBar a.menuButton {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButtonBold {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #000000;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  border: 1px outset #e0e0e0;
  background-color: #CCDDCC;
}

div.menu {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: #e0e0e0;
  border: 2px outset #e0e0e0;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: #CCDDCC;
}

div.menu a.smallMenuItem {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  cursor: default;
  display: block;
  padding: 1px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.smallMenuItem:hover {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: #CCDDCC;
}

div.menu a.largeMenuItem {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  cursor: default;
  display: block;
  padding: 1px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.largeMenuItem:hover {
  font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #000000;
  background-color: #CCDDCC;
}

.hptools{
 font-family:arial;
 position: relative;
 width:400px;
 text-align: center;
}
.hptools .boxtitle {
 position: absolute;
 top: -8px;
 background-color: #fff;
 padding: 0 3px 0 3px;
 font-size:10px;
 margin-left: 10px;
}

.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	}

/* this is the clipping region for the menu. it's width and height get set by script, depending on the size of the items table */
.transMenu {
	position:absolute;
	overflow:hidden;
	left:-1000px;
	top:-1000px;
	}

/* this is the main container for the menu itself. it's width and height get set by script, depending on the size of the items table */
.transMenu .content {
	position:absolute;
	}

/* this table comprises all menu items. each TR is one item. It is relatively positioned so that the shadow and background transparent divs can be positioned underneath it */
.transMenu .items {
	position:relative;
	left:0px; top:0px;
	z-index:2;
	}

.transMenu.top .items {
	border-top:none;
	}

/* each TR.item is one menu item */
.transMenu .item {
    color:#333366;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
	/* this is a hack for mac/ie5, whom incorrectly cascades the border properties of the parent table to each row */
	border:none;
	cursor:pointer;
	cursor:hand;
	}

/* this DIV is the semi-transparent white background of each menu. the -moz-opacity is a proprietary way to get transparency in mozilla, the filter is for IE/windows 5.0+. */
/* we set the background color in script because ie mac does not use it; that browser only uses a semi-transparent white PNG that the spacer gif inside this DIV is replaced by */
.transMenu .background {
	position:absolute;
	left:0px; top:0px;
	z-index:1;
	-moz-opacity:.9;
	filter:alpha(opacity=80);
	}

/* same concept as .background, but this is the sliver of shadow on the right of the menu. It's left, height, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowRight {
	position:absolute;
	z-index:3;
	top:3px; width:2px;
	-moz-opacity:.9;
	filter:alpha(opacity=80);
	}

/* same concept as .background, but this is the sliver of shadow on the bottom of the menu. It's top, width, and background are set by script. In IE5/mac, it uses a PNG */
.transMenu .shadowBottom {
	position:absolute;
	z-index:1;
	left:3px; height:2px;
	-moz-opacity:.9;
	filter:alpha(opacity=80);
	}

/* this is the class that is used when the mouse is over an item. script sets the row to this class when required. */
.transMenu .item.hover {
	background:#fdfdfd;
	color:black;
	}

/* this is either the dingbat that indicates there is a submenu, or a spacer gif in it's place. We give it extra margin to create some space between the text and the dingbat */
.transMenu .item img {
	margin-left:12px;
	}


UL#topnav {  FONT: 11px verdana, arial; PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none }
#topnav LI { PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px }
#topnav A      {  BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 18px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(graphics/topnavtab0.gif) no-repeat; PADDING-BOTTOM: 0.2em; MARGIN: 0px; FONT: 11px verdana, arial; COLOR: #444; PADDING-TOP: 0.2em; POSITION: relative; TEXT-DECORATION: none; }
#topnav A#tab1 { LEFT: 0px; }
#topnav A#tab2 { LEFT: -15px; }
#topnav A#tab3 { LEFT: -30px; }
#topnav A#tab4 { LEFT: -45px; }
#topnav A#tab5 { LEFT: -60px; }
#topnav A#tab6 { LEFT: -75px; }
#topnav A:hover { BACKGROUND: url(graphics/topnavtab1.gif) no-repeat; }
#topnav A.here {  BORDER-RIGHT: #777 1px solid; color: #000000; PADDING-RIGHT: 8px; PADDING-LEFT: 16px; Z-INDEX: 102; BACKGROUND: url(graphics/topnavtab1.gif) no-repeat; PADDING-BOTTOM: 0.2em; MARGIN: 0px 4px 0px 0px; PADDING-TOP: 0.2em; POSITION: relative; font-weight: bold;}




.fcCalDayBanner_gren     { BACKGROUND-COLOR: #737000; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;  }
.fcCalDayBackground_gren { BACKGROUND-COLOR: #E1E6A5; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;  }
.fcCalDayFontBig_gren    { BACKGROUND-COLOR: #FFFFFF; font-size: 14pt; text-decoration: none; color: #18295A; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-WEIGHT: bold; }
.fcCalDayFontMid_gren    { font-size: 9pt; text-decoration: none; color: #18295A; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-WEIGHT: bold; }
.fcCalDayFontSmall_gren  { font-size: 8pt; text-decoration: none; color: #18295A; FONT-FAMILY: Helvetica, Geneva, sans-serif; }
.fcCalMonthDay_gren      { font-size: 9pt; text-decoration: none; color: #18295A; FONT-FAMILY: Helvetica, Geneva, sans-serif; }


.fcCalDayBanner_blue     { BACKGROUND-COLOR: #637183; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;  }
.fcCalDayBackground_blue { BACKGROUND-COLOR: #BDC7DE; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;  }
.fcCalDayFontBig_blue    { BACKGROUND-COLOR: #FFFFFF; font-size: 14pt; text-decoration: none; color: #18295A; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-WEIGHT: bold; }
.fcCalDayFontMid_blue    { font-size: 9pt; text-decoration: none; color: #18295A; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-WEIGHT: bold; }
.fcCalDayFontSmall_blue  { font-size: 8pt; text-decoration: none; color: #18295A; FONT-FAMILY: Helvetica, Geneva, sans-serif; }
.fcCalMonthDay_blue      { font-size: 9pt; text-decoration: none; color: #18295A; FONT-FAMILY: Helvetica, Geneva, sans-serif; }



</style>

