.l-wz {
	font-size: 12px;
	font-weight: bold;
	color: #0051A2;
}
.tableborder {
	border-collapse:collapse;

}.zw {
	font-size: 12px;
	color: #000000;
}
.shuru {
	font-size: 12px;
	color: #000000;
	border: 1px solid cececc;
	width: 325px;
}
.cx {
	font-size: 12px;
	color: #FFFFFF;
}
.xk {
	font-size: 12px;
	border: 1px solid 004387;
	margin: 1px;
	padding: 1px;
	clear: none;
	float: none;
	height: 12px;
	width: 12px;




}
.btwz {
	font-size: 12px;
	color: #FFFFFF;
}
.table1 {
	font-size: 12px;
	font-weight: bold;
	color: 004387;
	background-color: dcecf9;
}
