<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd" >
<beans>
	<bean id="faxSend" class="com.baosight.fax.action.FaxSendAction">
	<property name="scheduleMgr">
			<ref bean="faxScheduleMgr" />
	</property>
	</bean>
	<!--  <bean id="scheduledTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<ref bean="faxSend" />
		</property>
		<property name="delay">
			<value>0</value>
		</property>
	</bean>-->
	<!-- 启动定时器 
	<bean id="timerBean"
		class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledTask" />
			</list>
		</property>
	</bean>-->
	<bean id="reportJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" >
        <property name="targetObject" ref="faxSend"/>
        <property name="targetMethod" value="run"/>
    </bean>

       <!--一个定时的调度器-->
<!--      <bean id="cronTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="reportJob"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="default" autowire="default" dependency-check="default">
 		<property name="triggers">
			<list>
				<ref bean="cronTrigger" /> 
			</list>
 		 </property>
    </bean>
    -->
</beans>
